* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(233, 170, 107);
}

main {
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

p {
    font-family: bd-orange-variable, sans-serif;
    font-variation-settings: "wght" 800;
}

#sonnenbogen {
    width: 500px;
    height: 250px;
    border-radius: 250px 250px 0 0;
    border-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: none;
}

#sonne {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: yellow;
    position: relative;
}

#container {
    display: flex;
    flex-direction: row;
    align-items: end;
    padding-top: 5vw;
}

#sunriseTime, #sunsetTime {
    color: rgb(14, 2, 2); /* Weiße Schrift für bessere Lesbarkeit */
    font-size: 32px; /* Schriftgröße anpassen */
    padding-left: 5vw;
    padding-right: 5vw;
}

#currentTime {
    color: rgb(14, 2, 2); /* Weiße Schrift für bessere Lesbarkeit */
    font-size: 64px; /* Schriftgröße anpassen */
}

