* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --day-color: #282828;
    --night-color: #F0F8FF;
    --font-color: var(--day-color);
    --alternative-color: var(--night-color);
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body.night {
    --font-color: var(--night-color);
    --alternative-color: var(--day-color);
}

p {
    font-family: bd-orange-variable, sans-serif;
    font-variation-settings: "wght" 800;
}

main {
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    margin-top: 3vw;
}

h1 {
    font-family: bd-orange-variable, sans-serif;
    font-variation-settings: "wght" 600;
    font-size: 80px;
    color: var(--font-color);
    /* Weiße Schrift für bessere Lesbarkeit */
    justify-content: center;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vw;
}

label[for="stadt"] {
    font-size: 30px;
    color: var(--font-color);
    font-weight: bold;
    margin-bottom: 10px;
    font-family: bd-orange-variable, sans-serif;
    font-variation-settings: "wght" 600;
}

#stadt_suche {
    font-size: 25px;
    color: var(--alternative-color);
    background-color: var(--font-color);
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: bd-orange-variable, sans-serif;
    font-variation-settings: "wght" 600;
    text-align-last: center; 
  
}

img {
    width: 100%;
    height: 100%;
}

#sonnenbogen {
    width: 500px;
    height: 250px;
    border-radius: 250px 250px 0 0;
    border: 2px solid;
    border-bottom: none;
    position: relative;
    border-color: var(--font-color);
    
    /* border-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: none; */
}

#sonne {
    width: 80px;
    height: 80px;
    position: absolute;
    animation-name: lsd;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes lsd {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#container {
    display: flex;
    flex-direction: row;
    align-items: end;
    padding-top: 7vw;
}

#sunriseTime,
#sunsetTime {
    color: var(--font-color);
    /* Weiße Schrift für bessere Lesbarkeit */
    font-size: 32px;
    /* Schriftgröße anpassen */
    padding-left: 5vw;
    padding-right: 5vw;
}

#currentTime {
    color: var(--font-color);
    /* Weiße Schrift für bessere Lesbarkeit */
    font-size: 64px;
    /* Schriftgröße anpassen */
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 40px;
    }

    #stadt_suche {
        font-size: 20px;
    }

    #sunriseTime,
    #sunsetTime {
        font-size: 20px;
    }

    #currentTime {
        font-size: 40px;
    }

    #sonnenbogen {
        width: 500px;
        height: 250px;
        border-radius: 250px 250px 0 0;
        border: 2px solid;
        border-bottom: none;
        position: relative;
        border-color: var(--font-color);
    }
}