* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --day-color: #282828;
    --night-color: #F0F8FF;
    --font-color: var(--day-color);
    --alternative-color: var(--night-color);
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background: linear-gradient(180deg, #0669BF 0%, #5EBAF2 50%, #99D9F2 100%)   ;
}

p {
    font-family: bd-orange-variable, sans-serif;
    font-variation-settings: "wght" 800;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    padding-top: 3vw;
}

h1 {
    font-family: bd-orange-variable, sans-serif;
    font-variation-settings: "wght" 600;
    font-size: 80px;
    color: var(--font-color);
    justify-content: center;
}

h2 {
    font-family: bd-orange-variable, sans-serif;
    font-variation-settings: "wght" 600;
    font-size: 40px;
    color: var(--font-color);
    justify-content: center;
}

ul {
    font-family: darkmode-on, sans-serif;

}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#team {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 5vw;
    width: 80vw;
    justify-content: space-around;
}

.personen {
    width: 15vw;
}

.bilder {
    width: 15vw;
    height: 22.5vw;

}
